@import "../../Assets/base.scss";

.container {
  left: 0;
  height: 100vh;
  background-color: $background;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 256px;
  height: 256px;

  /** 
	 *	starting with a 100 x 100 viewBox in the svg 
	 * 	gives fine control over the stroke-width
	 */
  stroke-width: 4px;
  stroke: #fff;
  fill: transparent;

  /** 
	 *	Circumference is PI * 2 * radius  
	 * 	thus in this case (check svg): PI * 2 * 25 = 157.1 
	 * 	Check console for precise value 
	 */
  stroke-dasharray: 157.1;
  stroke-dashoffset: 0px;

  animation: rot 4s infinite linear, clr 9s infinite linear;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 157.1;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    transform: rotate(360deg);
    stroke-dashoffset: -157.1;
  }
}

@keyframes clr {
  0% {
    stroke: $primary;
  }
  100% {
    stroke: $primary;
  }
}
